@model Product

<div class="row">
    <div class="col-md-3">
        <img src="~/img/@Model.ImageUrl" class="img-fluid">
    </div>
    <div class="col-md-9">                
            <h1 class="mb-3">@Model.Name</h5> <hr>

            <a asp-controller="Product" asp-action="List" asp-route-category="@Model.Category.Url" class="btn btn-link p-0 mb-3">@Model.Category.Name</a>                         
            
            <div class="mb-3">
                <h4 class="text-primary mb-3">
                    <i class="fas fa-dollar-sign"></i>@Model.Price
                </h4>
                <button type="submit" class="btn btn-primary btn-lg">Add To Cart</button>
            </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-5">
        <p class="p-3">@Html.Raw(Model.Description)</p>
    </div>
</div>
